In [45]:
import pandas as pd

In [46]:
blocks = pd.read_csv("blocks.csv")
blocks.head()

   x_origin  y_origin  x_length  y_length
0       1.0       1.0       3.0       3.0
1       5.0       1.0       1.0       1.0
2       1.0       7.0       1.0       1.0
3       3.0       5.0       2.0       2.0

In [47]:
new_element = {
    'x_origin': 5,
    'y_origin': 5,
    'x_length': 5,
    'y_length': 5
}
# new_element = pd.DataFrame(new_element)
blocks.append(new_element, ignore_index=True)

   x_origin  y_origin  x_length  y_length
0       1.0       1.0       3.0       3.0
1       5.0       1.0       1.0       1.0
2       1.0       7.0       1.0       1.0
3       3.0       5.0       2.0       2.0
4       5.0       5.0       5.0       5.0

In [56]:
import numpy as np

matrix = np.full((2, 2), -1, dtype=int)
matrix[1:3,1:3] = 1
matrix[4,1]

IndexError: index 4 is out of bounds for axis 0 with size 2

In [ ]:
# from warehouse import Warehouse

# wh = Warehouse(10,10)
# wh.get_blocks_from_csv("blocks.csv")
# # wh.place_block(1,1,1)
# print(wh.warehouse_matrix)
# # a = np.zeros((3,7))
# # a.shape[1]