In [8]:
import pandas as pd

In [9]:
blocks = pd.read_csv("blocks.csv")
blocks.head()

   x_origin  y_origin  x_length  y_length
0       1.0       1.0       1.0       1.0
1      -1.0      -1.0       1.0       1.0
2      -1.0       2.0       1.0       1.0
3       3.0       0.0       2.0       2.0
4       2.0      -2.0       1.0       1.0

In [10]:
new_element = {
    'x_origin': 5,
    'y_origin': 5,
    'x_length': 5,
    'y_length': 5
}
# new_element = pd.DataFrame(new_element)
blocks.append(new_element, ignore_index=True)

   x_origin  y_origin  x_length  y_length
0       1.0       1.0       1.0       1.0
1      -1.0      -1.0       1.0       1.0
2      -1.0       2.0       1.0       1.0
3       3.0       0.0       2.0       2.0
4       2.0      -2.0       1.0       1.0
5     -10.0     -10.0       1.0       1.0
6      -5.0      -8.0       2.0       2.0
7      -5.0       0.0       2.0       3.0
8      -5.0       0.0       2.0       3.0
9       5.0       5.0       5.0       5.0

In [18]:
import numpy as np

matrix = np.full((10, 10), -1, dtype=int)
matrix[1:3,1:3] = 1
matrix

array([[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1,  1,  1, -1, -1, -1, -1, -1, -1, -1],
       [-1,  1,  1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1]])

In [30]:
from warehouse import Warehouse

wh = Warehouse(10,10)
wh.get_blocks_from_csv("blocks.csv")
wh.place_block(1,1,1)
print(wh.warehouse_matrix[1,1])

AttributeError: 'Warehouse' object has no attribute 'place_block'