In [1]:
import pandas as pd

In [32]:
blocks = pd.read_csv("blocks.csv")
blocks.head()

   x_origin  y_origin  x_length  y_length
0         1         1         1         1
1        -1        -1         1         1
2        -1         2         1         1
3         3         0         2         2

In [34]:
new_element = {
    'x_origin': 5,
    'y_origin': 5,
    'x_length': 5,
    'y_length': 5
}
# new_element = pd.DataFrame(new_element)
blocks.append(new_element, ignore_index=True)

   x_origin  y_origin  x_length  y_length
0         1         1         1         1
1        -1        -1         1         1
2        -1         2         1         1
3         3         0         2         2
4         5         5         5         5